# Virtual environment
resumechecker/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/

# Mac files
.DS_Store

# Dataset
data/

# Saved ML models
saved_models/
*.pkl
*.joblib

# Jupyter checkpoints
.ipynb_checkpoints/